.titulo {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1em 0 1.5em;
  }
  

 /* Container de todos os membros */
  .membros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  
  /* Cada membro ocupa metade da largura */
  .membro {
    background-color: var(--light-gray-color);
    padding: 1em;
    border-radius: 0.5em;
  }

  .membro h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }

  .perfil {
    display: flex;
    gap: 1.25em;
    align-items: flex-start;
  }
  
  /* Foto do membro */
  .perfil img {
    width: 7.5em; /* 120px */
    height: 7.5em;
    object-fit: cover;
    border-radius: 0.5em;
  }

  .perfil p {
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
  }

  @media screen and (min-width: 1020px) {
   
  /* Container de todos os membros */
  .membros-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
  }
  
  /* Cada membro ocupa metade da largura */
  .membro {
    flex: 1 1 45%;
    background-color: #161b22;
    padding: 1.5em;
    border-radius: 0.5em;
  }
  
  /* Nome do membro */
  .membro h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  /* Bloco com imagem e descrição */
  .perfil {
    display: flex;
    gap: 1.25em;
    align-items: flex-start;
  }
  
  /* Foto do membro */
  .perfil img {
    width: 7.5em; /* 120px */
    height: 7.5em;
    object-fit: cover;
    border-radius: 0.5em;
  }
  
  /* Descrição */
  .perfil p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
  }
  
  }