.rodape {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    background-color: var(--light-gray-color);
    padding: 1em 0;
}

@media screen and (min-width: 1020px) {
    .rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray-color);
    margin-top: 1.5em;
}

}